.chat__wrapper {
    width: 100%;
    margin: 0 auto;
    
    display: flex;
    height: 90vh;
    
}
.chat__rooms {
    border: 1px solid lightgray;
    overflow-y: auto;
    width: 25%;
    position: relative;
    /* height: 70vh; */
}
/* .chat__rooms:hover {
    
    overflow-y: scroll;
} */
.chat__rooms::-webkit-scrollbar {
    width: 4px;
}
.chat__rooms::-webkit-scrollbar-thumb {
    border-radius: 11px;
    background-color: #a9a9a9;
}
.chat__rooms::-webkit-scrollbar-track {
    border-radius: 11px;
    background-color: #E3E5ED;
}
.chat__content {
    position: relative;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    
    
    width: 75%;
    /* height: 70vh; */
}
.chat__header {
    
    padding:10px 15px ;
    border: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    
}

.chat__header__icons {
    display: flex;
    gap: 20px;
}

.chat__pinned__messages {
    
    width:40% ;
    right: 40px;
    top: 60px;
    height: 40%;
    position: absolute;
    z-index: 1;
    overflow-y: auto;
    border: 1px solid lightgray;
    background-color: white;
}
.chat__filter__type {
    padding: 10px 15px;
}
.chat__messages {
    position: relative;
    padding: 10px 0px 20px 0px;
    overflow-y: auto;
    word-wrap: break-word;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}
.chat__messages::-webkit-scrollbar {
    width: 8px;
}
.chat__messages::-webkit-scrollbar-thumb {
    border-radius: 11px;
    background-color: #a9a9a9;
}
.chat__messages::-webkit-scrollbar-track {
    border-radius: 11px;
    background-color: #E3E5ED;
}
/* .chat__messages:hover {
    overflow-y: auto;
} */
.chat__msgtest {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1 1 auto;
}

.chat__new__message {
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
}
.chat__btn {
    width: 200px;
    
}

.modal__container {
    background: whitesmoke;
    padding: 40px 20px;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    text-align: center;
}
.modal__button {
    width: 200px;
    margin: 0 auto;
}
.chat__scrollbtn__wrapper {
    position: absolute;
    bottom: 50px;
    right: 75px;
}
.chat__scrollbtn {
    position: fixed;
    background-color: #E3E5ED;
    border-radius: 50%;
    
    
}
.icon__button {
    background-color: #1976b2;
}
.chat__select {
    width: 150px;
}

.chat__replied__message {
    padding-left: 5px;
    font-size: 12px;
    display: flex;
    gap: 5px;
    align-items: center;
}
.chat__send__wrapper {
    display: flex;
}

.chat__replied__message__name {
    
}
.chat__replied__message__text {
    
}
.icon__wrapper {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    
}
.icon__test:hover {
    
}