.emojis__wrapper {
    position: absolute;
    right: 20px;
    bottom: 40px;
}
@media screen and (max-width:450px) {
    .emojis__wrapper {
        right: 10px;
    }
}
@media (orientation: landscape) and (max-width:768px) {
    aside {
        width: 500px !important;
        height: 260px !important;

    }
}