.login__wrapper {
    display: flex;
    padding-top: 100px;
    align-items: center;
    justify-content: center;
    
}
.login__form {
     display: flex;
        flex-direction: column;
        gap: 20px;
        width: 600px;
        border: 0.5px solid #D9DDDC;
        border-radius: 5px;
        padding: 100px 50px;
        align-items: center;
}
@media screen and (max-width:768px) {
    .login__form {
        width: 400px;
        padding: 70px 35px;
    }
}
@media screen and (max-width:425px) {
    .login__form {
        width: 280px;
        padding: 50px 25px;
    }
}