/* .my__message {
    
} */
.message__wrapper {
    padding: 5px 15px 5px 15px;
    
}
.message__wrapper:hover {
    background-color: lightgrey;
}
/* .message {
    padding: 5px 15px 5px 15px;
} */
.message__column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.message__row {
    display: flex;
    justify-content: space-between;
}
.message__avatar__row {
    display: flex;
    gap: 8px;
    align-items: center;
}
.message__text {
   padding-left: 5px;
}
.edit__icon:hover {
    color: #242424;
    transition: 0.5s;
}
.delete__icon:hover {
    color: #242424;
    transition: 0.5s;
}
.message__img {
    width: 350px;
    height: 200px;
}
.message__icons {
    display: flex;
}
.messages__replied__message {
    padding-top: 10px;
    padding-left: 5px;
    display: flex;
    gap: 5px;
    font-size: 12px;
    align-items: center;
}
/* .chat__replied__message__avatar__row {
    display: flex;
    align-items: center;
} */
