/* .my__message {
    
} */
.message__wrapper {
    padding: 5px 15px 5px 15px;
    
}
.message__wrapper:hover {
    background-color: lightgrey;
}
/* .message {
    padding: 5px 15px 5px 15px;
} */
.message__column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.message__row {
    display: flex;
    justify-content: space-between;
}
.message__avatar__row {
    display: flex;
    gap: 8px;
    align-items: center;
}
.message__text {
   padding-left: 5px;
}
.edit__icon:hover {
    color: #242424;
    transition: 0.5s;
}
.delete__icon:hover {
    color: #242424;
    transition: 0.5s;
}
.message__img {
    width: 350px;
    height: 200px;
}
.message__icons {
    display: flex;
}
.message__hidden__icons {
    display: none;
}
.drawer__icons {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}
.drawer__public__icons {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.drawer__private__icons {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.drawer__icon__wrapper {
    display: flex;
    align-items: center;
}
.messages__replied__message {
    padding-top: 10px;
    padding-left: 7px;
    display: flex;
    gap: 5px;
    font-size: 12px;
    align-items: center;
}
.chat__replied__message__text {
    line-height: 22px;
}
/* .chat__replied__message__avatar__row {
    display: flex;
    align-items: center;
} */
.event__message__wrapper {
    text-align: center;
    color: #1976d2;
}
@media screen and (max-width:768px) {
    .message__text {
        font-size: 14px;
    }
    .message__displayname {
        font-size: 14px;
    }
    .message__date {
        font-size: 14px;
    }
    .message__public__icons {
        display: none;
    }
    .message__private__icons {
        display: none;
    }
    .message__hidden__icons {
        display: flex;
    }
    .message__icon__button {
        width: 28px;
    }
    .message__icon {
        width: 20px !important;
    }
    .message__avatar__row {
        gap: 6px;
    }
    .message__wrapper {
        padding: 4px 10px 4px 10px;
        
    }
    
}
@media screen and (max-width:450px) {
    .message__img {
        width: 250px;
        height: 150px;
    }
    .message__icon__button {
        width: 20px;
    }
    .message__icon {
        width: 15px !important;
    }
    .message__displayname {
        font-size: 12px;
        max-width: 100px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .message__date {
        font-size: 12px;
    }
    .message__text {
        font-size: 12px;
    }
    .message__avatar__row {
        gap: 4px;
    }
    .message__wrapper {
        padding: 2px 4px 2px 4px;
        
    }
    .messages__replied__message {
        font-size: 10px;
    }
}
@media screen and (max-width:375px) {
    .message__displayname {
        max-width: 90px;
    }
}